@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
