<!DOCTYPE html>
<html lang="es" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlickFusion - Restablecer Contraseña</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #1a1a1a;
            color: #ffffff;
            margin: 0;
        }

        form {
            background-color: #2c2c2c;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        h2 {
            text-align: left;
            margin-bottom: 1rem;
        }

        label {
            margin-top: 1rem;
            display: block;
        }

        input[type="password"] {
            width: 100%;
            padding: 0.5rem;
            padding-right: 40px;
            border-radius: 4px;
            border: 1px solid #444;
            background-color: #333;
            color: #fff;
        }

        button {
            width: 100%;
            padding: 0.75rem;
            margin-top: 1.5rem;
            border-radius: 4px;
            border: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        #status-form-reset-pass {
            margin-top: 1rem;
            text-align: center;
        }

        div {
            position: relative;
            margin-top: 1rem;

        }


        i.fa {
            position: absolute;
            right: 10px;
            top: 55%;

            transform: translateY(-50%);

            cursor: pointer;

            color: #ffffff;
        }
    </style>
</head>

<body>
    <section>
        <h2>Restablecer Contraseña</h2>
        <form id="resetPasswordForm" action="/api/user/resetPassword" method="POST">
            <input type="hidden" name="token" value="<%= token %>">
            <div>
                <label for="password">Nueva Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <i id="togglePassword1" class="fa fa-eye-slash" style="font-size:24px"></i>
            </div>
            <div>
                <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <i id="togglePassword2" class="fa fa-eye-slash" style="font-size:24px"></i>
            </div>
            <div id="status-form-reset-pass"></div>
            <button class="outline secondary" type="submit">Restablecer Contraseña</button>
        </form>
    </section>
</body>

<script>

    const validatePassword = (password) => {
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$/;
        return passwordRegex.test(password);
    };

    const togglePassword = (input, icon) => {
        if (input.type === 'password') {
            input.type = 'text';
            icon.setAttribute('class', 'fa fa-eye');
        } else {
            input.type = 'password';
            icon.setAttribute('class', 'fa fa-eye-slash');
        }
    };

    const togglePassword1 = document.getElementById('togglePassword1');
    const password = document.getElementById('password');
    togglePassword1.addEventListener('click', () => {
        togglePassword(password, togglePassword1);
    });
    const togglePassword2 = document.getElementById('togglePassword2');
    const passwordConfirmed = document.getElementById('confirmPassword');
    togglePassword2.addEventListener('click', () => {
        togglePassword(passwordConfirmed, togglePassword2);
    });


    const resetPasswordForm = document.getElementById('resetPasswordForm');
    resetPasswordForm.addEventListener('submit', async (event) => {
        const div = document.getElementById('status-form-reset-pass');
        div.innerHTML = '';
        event.preventDefault();
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        if (password !== confirmPassword) {
            div.innerHTML = 'Las contraseñas no coinciden';
            div.style.color = 'red';
            return;
        }

        if (!validatePassword(password)) {
            div.innerHTML = 'La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un caracter especial';
            div.style.color = 'red';
            return;
        }


        const token = resetPasswordForm.token.value;

        const response = await fetch('/api/user/resetPassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                password,
                confirmPassword,
                token
            })
        });
        if (response.ok) {
            alert(`La contraseña ha sido cambiada. Puedes cerrar esta ventana`);
            resetPasswordForm.reset();
        }
    });
</script>

</html>